{% extends "base.html" %}

{% block content %}
            <a class="btn btn-success" href="{{url_for('.add_score')}}" style="margin-top: 5px">添加成绩</a>
            <table class="table table-striped" style="border: 1px solid #dbdbdb;margin-top: 5px">
                <thead>
                    <td><b>id</b></td>
                    <td><b>课程名</b></td>
                    <td><b>学生</b></td>
                    <td><b>成绩</b></td>
                    <td><b>操作</b></td>
                </thead>
                {% for s in sc %}
                <tr>
                    <td>{{s.id}}</td>
                    <td>{{s.course.name}}</td>
                    <td>{{s.student.name}}</td>
                    <td>{{s.score}}</td>
                    <td>
                        <a href="#" class="label label-success">详情</a>
                        <a href="{{url_for('.edit_score',id=s.id)}}" class="label label-info">编辑</a>
                        <a href="{{url_for('.delete_score',id=s.id)}}" class="label label-danger">删除</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <nav style="text-align: center">
                <ul class="pagination" style="margin-top: 0px">
                    <li><a><span>&laquo;</span></a></li>
                    <li><a>1</a></li>
                    <li><a>2</a></li>
                    <li><a>3</a></li>
                    <li><a>4</a></li>
                    <li><a>5</a></li>
                    <li><a><span>&raquo;</span></a></li>
                </ul>
            </nav>
{% endblock %}